
.login-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
}
.login-card{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.input-group{
    display: flex;  
    gap: 6px;
}
button{
    padding:5px 20px;
    margin-top: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}